


card-body{
      margin: 0;
      padding: 0;
      display: flex;
    width:50;
      height:100;
      background-color: red;
	   color:white;
    }
    
 .img {
	 
   height:665;
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    }